.cases-section {
  background: linear-gradient(180deg, #0b1027 0%, #f50 100%);
}

.cases-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 90px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 109px;
    max-width: 1440px;
  }
}

.cases-container {
}

.cases-title {
}

.cases-top-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-bottom: 46px;

  @include media(desktop) {
    font-size: 28px;
    margin-bottom: 32px;
  }
}

.cases-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  @include media(desktop) {
    max-width: 846px;
    margin-left: auto;
    margin-right: auto;
  }
}

.cases-list-item {
  box-shadow: 0 4px 4px 0 rgba(11, 16, 39, 0.25);
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include media(desktop) {
    padding: 18px 24px;
    justify-content: start;
    gap: 109px;
  }
}

.cases-item-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #0b1027;

  @include media(desktop) {
    font-size: 20px;
    width: 210px;
  }
}

.cases-br {
  @include media(desktop) {
    display: none;
  }
}

.cases-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  max-width: 139px;

  @include media(desktop) {
    font-size: 18px;
    max-width: max-content;
    text-align: left;
  }
}
