.footer {
  background: #0b081f;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 48px;
  background-image: url(../img/footer/footer-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 38px;
    padding-bottom: 221px;
    background-image: url(../img/footer/footer-bg-desk.png);
  }
}

.footer-container {
}

.footer-top-email-link {
  display: none;

  @include media(desktop) {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
}

.footer-nav-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-email-link {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;

  @include media(desktop) {
    font-size: 18px;
    margin-bottom: 0;
    order: 3;
  }
}

.footer-nav {
  margin-bottom: 36px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 2;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.footer-span {
  display: none;

  @include media(desktop) {
    display: inline;
  }
}

.footer-text {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-align: center;
  max-width: 168px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    @include media(desktop) {
      font-size: 18px;
      max-width: 216px;
      margin: 0;
      order: 1;
    }
  }
}
