.header {
  border-radius: 0 0 12px 12px;
  background-color: #2a1306;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    border-radius: 0;
    background-color: transparent;
  }
}

.header.menu-is-open {
  border-radius: 0;
}

.header-bg-wrapper {
  padding: 8px 0;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 36px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        0deg,
        rgba(253, 245, 230, 0) 43.9%,
        rgba(253, 245, 230, 0.1) 55.09%,
        rgba(253, 245, 230, 0.8) 78.04%,
        #fdf5e6 97.46%
      ),
      url(../img/header/hero-bg-desk.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(desktop) {
    justify-content: center;
  }
}

.header-logo-link {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;

  @include media(desktop) {
    display: none;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-link {
  @include media(desktop) {
    padding: 8px 16px;
    border: 1px solid #887159;
    border-radius: 12px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    transition: all 0.3s ease-in-out;

    &:hover,
    &.active {
      box-shadow: 0 4px 7px 0 rgba(255, 255, 255, 0.1);
      background: rgba(183, 65, 14, 0.5);
      border: 1px solid #b7410e;
    }
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
