.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 136px;
  padding-bottom: 270px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 169px;
    padding-bottom: 274px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-position: top center;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-title {
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: #9e4b23;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 60px;
    margin-bottom: 28px;
  }
}

.hero-text {
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #051d2d;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 28px;
    margin-bottom: 28px;
    max-width: 845px;
  }
}

.hero-bottom-text {
  font-family: 'Figtree', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #011a22;

  @include media(desktop) {
    font-size: 28px;
  }
}
