.hero-section {
  background: #000017;
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 139px;
  padding-bottom: 295px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 56px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 195px;
    padding-bottom: 220px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png);
    background-position: top 74px center;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-title {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 42px;
    margin-bottom: 42px;
    max-width: 628px;
  }
}

.hero-span {
  color: #f50;
}

.hero-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 42px;
    max-width: 514px;
  }
}

.hero-bottom-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;

  @include media(desktop) {
    font-size: 24px;
  }
}
