.map-section {
  background: #fdedc6;
}

.map-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 210px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/map/map-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 167px;
    max-width: 1440px;
    background-image: url(../img/map/map-bg-desk.png);
  }
}

.map-container {
}

.map-title {
  max-width: 234px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
    max-width: max-content;
  }
}

.map-content-wrapper {
  @include media(desktop) {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.map-top-text {
  font-family: 'Fraunces', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #011a22;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.map-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 42px;

  @include media(desktop) {
    gap: 12px;
    margin-bottom: 54px;
    position: relative;
    right: -100px;
  }
}

.map-list-item {
  display: flex;
  align-items: center;
}

.map-item-img-wrapper {
  min-width: 84px;
}

.map-item-text {
  font-family: 'Fraunces', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #011a22;

  @include media(desktop) {
    font-size: 20px;
    max-width: 534px;
  }
}

.map-bottom-text {
  font-family: 'Fraunces', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #051d2d;
  text-align: center;

  @include media(desktop) {
    font-size: 24px;
  }
}
