.scenario-section {
  background: #0b1027;
}

.scenario-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 63px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
  }
}

.scenario-container {
}

.scenario-title {
}

.scenario-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 42px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 54px;
  }
}

.scenario-list-item {
  background: #163d5c;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    padding: 12px 24px;
    width: 410px;
  }
}

.scenario-img {
  min-width: 54px;
}

.scenario-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.scenario-bottom-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}
