.stories-section {
  background: linear-gradient(180deg, #d3f0ef 0%, #fff 100%);
}

.stories-section-wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 99px;
    padding-bottom: 204px;
    max-width: 1440px;
  }
}

.stories-title {
  max-width: 234px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
    max-width: max-content;
    margin-bottom: 64px;
  }
}

.stories-top-text {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ff5d7a;
  text-align: center;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 64px;
  }
}

.stories-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.stories-swiper-container.show {
  visibility: visible;
}

.stories-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.stories-slide {
  border-radius: 16px;
  padding: 32px;
  max-width: 343px;
  min-height: 202px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &:nth-child(1) {
    box-shadow: 0 8px 0 0 #0fa29b;
    background: #39e4dc;
  }

  &:nth-child(2) {
    box-shadow: 0 8px 0 0 #d48b03;
    background: #ffb000;
  }

  &:nth-child(3) {
    box-shadow: 0 8px 0 0 #c84510;
    background: #ff6f35;
  }

  @include media(desktop) {
    width: 405px;
    max-width: 405px;
    min-height: 295px;
  }
}

.stories-img {
}

.stories-slide-text {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #161313;

  @include media(desktop) {
    font-size: 24px;
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 32px;

  @include media(desktop) {
    display: none;
  }
}

.stories-dot {
  width: 14px;
  height: 14px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  background-color: #fa9c6e;
  cursor: pointer;
}

.stories-dot.active {
  background-color: #9e4b23;
}
