<section class="section cases-section" id="cases">
  <div class="cases-bg-wrapper">
    <div class="container cases-container">
      <h2 class="section-title cases-title">Not training. Conditioning</h2>
      <p class="cases-top-text">Who uses Eventge:</p>
      <ul class="cases-list">
        <li class="cases-list-item">
          <p class="cases-item-title">
            B2B<br class="cases-br" />
            Sales Teams
          </p>
          <p class="cases-item-text">Prepping for critical pitch dynamics</p>
        </li>
        <li class="cases-list-item">
          <p class="cases-item-title">
            Comms<br class="cases-br" />
            Leads
          </p>
          <p class="cases-item-text">
            Stress-testing crisis response messaging
          </p>
        </li>
        <li class="cases-list-item">
          <p class="cases-item-title">
            Senior<br class="cases-br" />
            Executives
          </p>
          <p class="cases-item-text">Navigating board-level confrontation</p>
        </li>
        <li class="cases-list-item">
          <p class="cases-item-title">
            HR<br class="cases-br" />
            Departments
          </p>
          <p class="cases-item-text">Tackling DEI challenges under scrutiny</p>
        </li>
        <li class="cases-list-item">
          <p class="cases-item-title">
            Startup<br class="cases-br" />
            Founders
          </p>
          <p class="cases-item-text">Getting ready for investor grilling</p>
        </li>
        <li class="cases-list-item">
          <p class="cases-item-title">
            Strategy<br class="cases-br" />
            Consultants
          </p>
          <p class="cases-item-text">
            Shaping new-client narratives with confidence
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
