<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="section-title contact-title">Contact</h2>
        <p class="contact-top-text">
          Want to partner, host an event, or join as a roving artist?
        </p>
        <div class="contact-link-wrapper">
          <a href="mailto:info@eventhobo.pro" class="contact-info-link"
            >📧 info@eventhobo.pro</a
          >
          <a href="mailto:routes@eventhobo.pro" class="contact-routes-link"
            >📧 routes@eventhobo.pro</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
