<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">
        Questions, enterprise access, scenario design?
      </h2>
      <div class="contact-link-wrapper">
        <a href="mailto:contact@eventge.pro" class="contact-email-link"
          >📧 contact@eventge.pro</a
        >
        <a
          href="mailto:partnerships@eventge.pro"
          class="contact-partnership-link"
          >📧 partnerships@eventge.pro</a
        >
      </div>
    </div>
  </div>
</section>
