<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <h2 class="section-title cta-title">
          You don’t need a plan. Just a signal.
        </h2>
        <p class="cta-top-text">Start by choosing:</p>
        <ul class="cta-list">
          <li class="cta-list-item">
            <p class="cta-item-text">Where you are now</p>
          </li>
          <li class="cta-list-item">
            <p class="cta-item-text">What kind of rhythm you’re drawn to</p>
          </li>
          <li class="cta-list-item">
            <p class="cta-item-text">
              Whether you’re attending, hosting, or seeking collaboration
            </p>
          </li>
        </ul>
        <a href="#home" class="cta-link">Start Your Route</a>
      </div>
    </div>
  </div>
</section>
