<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">
        Negotiation isn't learned in slides.<br />
        <span class="hero-span">It's built in pressure.</span>
      </h1>
      <p class="hero-text">
        You can't prepare a team for a real crisis using only
        <span class="hero-span">decks and training videos.</span><br />
        Eventge lets you create
        <span class="hero-span">live role-based simulations</span> where team
        members must
        <span class="hero-span">think, respond, and adapt —</span> with
        consequences.
      </p>
      <p class="hero-bottom-text">Because composure is built, not assumed.</p>
    </div>
  </div>
</section>
