<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">
        Big cities have shows.<br />
        Small places have soul.
      </h1>
      <p class="hero-text">
        Eventhobo helps you discover and sync with independent cultural
        gatherings across Europe — in vineyards, woods, rooftops, ateliers,
        rural stages. Not via ads.<br />
        Through rhythm, locality, and presence.
      </p>
      <p class="hero-bottom-text">
        You don’t buy tickets.<br />
        You join routes.
      </p>
    </div>
  </div>
</section>
