<section class="section map-section" id="map">
  <div class="map-bg-wrapper">
    <div class="container map-container">
      <h2 class="section-title map-title">The map isn’t static. It pulses.</h2>
      <div class="map-content-wrapper">
        <p class="map-top-text">An interactive scrollable map showing:</p>
        <ul class="map-list">
          <li class="map-list-item">
            <div class="map-item-img-wrapper">
              <img
                class="map-img"
                src="./img/map/map-map.png"
                alt="Map"
                width="70"
                height="60"
                loading="lazy"
              />
            </div>
            <p class="map-item-text">Active event routes</p>
          </li>
          <li class="map-list-item">
            <div class="map-item-img-wrapper">
              <img
                class="map-img"
                src="./img/map/map-man.png"
                alt="Man"
                width="84"
                height="74"
                loading="lazy"
              />
            </div>
            <p class="map-item-text">Walking/biking segments</p>
          </li>
          <li class="map-list-item">
            <div class="map-item-img-wrapper">
              <img
                class="map-img"
                src="./img/map/map-arrows.png"
                alt="Arrows"
                width="65"
                height="60"
                loading="lazy"
              />
            </div>
            <p class="map-item-text">Flow density (where people are headed)</p>
          </li>
          <li class="map-list-item">
            <div class="map-item-img-wrapper">
              <img
                class="map-img"
                src="./img/map/map-people.png"
                alt="People"
                width="60"
                height="60"
                loading="lazy"
              />
            </div>
            <p class="map-item-text">Open calls for collaborators</p>
          </li>
          <li class="map-list-item">
            <div class="map-item-img-wrapper">
              <img
                class="map-img"
                src="./img/map/map-pause.png"
                alt="Pause sign"
                width="60"
                height="60"
                loading="lazy"
              />
            </div>
            <p class="map-item-text">
              “Pause nodes” — where nothing happens, and that’s the point
            </p>
          </li>
        </ul>
        <p class="map-bottom-text">Map updates weekly</p>
      </div>
    </div>
  </div>
</section>
