<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Why Simulate</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#works">How It Works</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#scenario"
          >Scenario Types</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#role"
          >Team Role System</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#response"
          >Live Response Engine</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#cases">Use Cases</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#simulation"
          >Try Simulation</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
