<div class="context-menu">
  <div class="container">
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">The Movement</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#works"
            >How It Works</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#typologies"
            >Event Typologies</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#map">Travel Map</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#program"
            >Artist-In-Transit Program</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#stories"
            >Stories from the Road</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#cta">Join the Flow</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
