<section class="section program-section" id="program">
  <div class="program-bg-wrapper">
    <div class="container program-container">
      <h2 class="section-title program-title">Your residency is the road.</h2>
      <div class="program-content-wrapper">
        <p class="program-top-text">Apply as a roving artist to:</p>
        <ul class="program-list">
          <li class="program-list-item">
            <span class="program-item-dot"></span>
            <p class="program-item-text">
              Contribute to events along the route
            </p>
          </li>
          <li class="program-list-item">
            <span class="program-item-dot"></span>
            <p class="program-item-text">
              Offer your art or skills in exchange for stay
            </p>
          </li>
          <li class="program-list-item">
            <span class="program-item-dot"></span>
            <p class="program-item-text">
              Record, share, and document fragments of culture
            </p>
          </li>
          <li class="program-list-item">
            <span class="program-item-dot"></span>
            <p class="program-item-text">
              Receive small travel grants from local networks
            </p>
          </li>
          <li class="program-list-item">
            <span class="program-item-dot"></span>
            <p class="program-item-text">
              Be featured on our “ongoing artist mosaic”
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
