<section class="section role-section" id="role">
  <div class="role-bg-wrapper">
    <div class="container role-container">
      <h2 class="section-title role-title">
        Everyone plays a role — even the silence.
      </h2>
      <div class="role-content-wrapper">
        <p class="role-top-text">Each simulation has 3–5 live participants:</p>
        <div class="role-list-wrapper">
          <picture>
            <source
              srcset="./img/role/role-line-desk.png"
              media="(min-width: 1440px)"
              width="17"
              height="336" />
            <source
              srcset="./img/role/role-line-mob.png"
              width="14"
              height="336" />
            <img
              class="role-line-img"
              src="./img/role/role-line-mob.png"
              alt="Line"
              width="14"
              height="336"
              loading="lazy"
          /></picture>
          <ul class="role-list">
            <li class="role-list-item">
              <p class="role-item-title">Protagonist:</p>
              <p class="role-item-text">Main decision-driver</p>
            </li>
            <li class="role-list-item">
              <p class="role-item-title">Counterparty:</p>
              <p class="role-item-text">Opposition or friction force</p>
            </li>
            <li class="role-list-item">
              <p class="role-item-title">Shadow voice:</p>
              <p class="role-item-text">Silent input, later feedback</p>
            </li>
            <li class="role-list-item">
              <p class="role-item-title">Anchor:</p>
              <p class="role-item-text">Steadying narrative role</p>
            </li>
            <li class="role-list-item">
              <p class="role-item-title">Trigger role:</p>
              <p class="role-item-text">Drops the unexpected twist</p>
            </li>
          </ul>
        </div>
        <p class="role-bottom-text">
          Participants rotate roles in follow-up sessions.
        </p>
      </div>
    </div>
  </div>
</section>
