<section class="section scenario-section" id="scenario">
  <div class="scenario-bg-wrapper">
    <div class="container scenario-container">
      <h2 class="section-title scenario-title">Real stakes. Simulated</h2>
      <ul class="scenario-list">
        <li class="scenario-list-item">
          <img
            class="scenario-img"
            src="./img/scenario/scenario-call.png"
            alt="Call"
            width="54"
            height="54"
          />
          <p class="scenario-item-text">Difficult investor call</p>
        </li>
        <li class="scenario-list-item">
          <img
            class="scenario-img"
            src="./img/scenario/scenario-scales.png"
            alt="Scales"
            width="54"
            height="52"
          />
          <p class="scenario-item-text">
            Partner negotiation with conflicting goals
          </p>
        </li>
        <li class="scenario-list-item">
          <img
            class="scenario-img"
            src="./img/scenario/scenario-document.png"
            alt="Document"
            width="54"
            height="54"
          />
          <p class="scenario-item-text">Press briefing after data leak</p>
        </li>
        <li class="scenario-list-item">
          <img
            class="scenario-img"
            src="./img/scenario/scenario-hr.png"
            alt="HR"
            width="54"
            height="54"
          />
          <p class="scenario-item-text">HR confrontation with legal edge</p>
        </li>
        <li class="scenario-list-item">
          <img
            class="scenario-img"
            src="./img/scenario/scenario-microphone.png"
            alt="Microphone"
            width="54"
            height="54"
          />
          <p class="scenario-item-text">Regulatory pitch simulation</p>
        </li>
        <li class="scenario-list-item">
          <img
            class="scenario-img"
            src="./img/scenario/scenario-chart.png"
            alt="Chart"
            width="54"
            height="54"
          />
          <p class="scenario-item-text">Client asking for scope expansion</p>
        </li>
        <li class="scenario-list-item">
          <img
            class="scenario-img"
            src="./img/scenario/scenario-hourglass.png"
            alt="Hourglass"
            width="54"
            height="54"
          />
          <p class="scenario-item-text">Team conflict under deadline</p>
        </li>
      </ul>
      <p class="scenario-bottom-text">
        Choose from templates or request a custom scenario.
      </p>
    </div>
  </div>
</section>
