<section class="simulation-section section" id="simulation">
  <div class="simulation-section-wrapper">
    <div class="container simulation-container">
      <h2 class="simulation-title section-title">
        Run a demo. 1 facilitator. 2 players. 15 minutes
      </h2>
      <p class="simulation-top-text">Book a short sample scenario:</p>
      <div class="simulation-swiper-container">
        <ul class="swiper-wrapper simulation-swiper-wrapper">
          <li class="swiper-slide simulation-slide">
            <p class="simulation-slide-title">
              Silent<br />
              Resignation
            </p>
            <p class="simulation-slide-text">(HR theme)</p>
          </li>
          <li class="swiper-slide simulation-slide">
            <p class="simulation-slide-title">
              Scope<br />
              Drift
            </p>
            <p class="simulation-slide-text">(Agency-client)</p>
          </li>
          <li class="swiper-slide simulation-slide">
            <p class="simulation-slide-title">
              Series B:<br />
              Friction Call
            </p>
            <p class="simulation-slide-text">(founder-investor)</p>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="simulation-dot active"></div>
        <div class="simulation-dot"></div>
        <div class="simulation-dot"></div>
      </div>
      <p class="simulation-email-text">
        📧 Email:&nbsp;
        <a href="mailto:demo@eventge.pro" class="simulation-email-link">
          demo@eventge.pro</a
        >
      </p>
      <p class="simulation-bottom-text">
        Or request direct access form via
        <a href="mailto:simulation@eventge.pro" class="simulation-bottom-link"
          >simulation@eventge.pro</a
        >
      </p>
    </div>
  </div>
</section>
