<section class="stories-section section" id="stories">
  <div class="stories-section-wrapper">
    <div class="container stories-container">
      <h2 class="stories-title section-title">
        The event ends. But the story echoes.
      </h2>
      <p class="stories-top-text">A rotating feed of:</p>
      <div class="stories-swiper-container">
        <ul class="swiper-wrapper stories-swiper-wrapper">
          <li class="swiper-slide stories-slide">
            <picture>
              <source
                srcset="./img/stories/stories-img1-desk.png"
                media="(min-width: 1440px)"
                width="87"
                height="87" />
              <source
                srcset="./img/stories/stories-img1-mob.png"
                width="54"
                height="54" />
              <img
                class="stories-img"
                src="./img/stories/stories-img1-mob.png"
                alt="Gear"
                width="54"
                height="54"
            /></picture>
            <p class="stories-slide-text">
              “I played a silent violin set under fig trees in Istria. It lasted
              one hour. The dog howled once.”
            </p>
          </li>
          <li class="swiper-slide stories-slide">
            <picture>
              <source
                srcset="./img/stories/stories-img2-desk.png"
                media="(min-width: 1440px)"
                width="87"
                height="87" />
              <source
                srcset="./img/stories/stories-img2-mob.png"
                width="54"
                height="54" />
              <img
                class="stories-img"
                src="./img/stories/stories-img2-mob.png"
                alt="Gear"
                width="54"
                height="54"
            /></picture>
            <p class="stories-slide-text">
              “We met in a bookstore attic, and now we run a café together.”
            </p>
          </li>
          <li class="swiper-slide stories-slide">
            <picture>
              <source
                srcset="./img/stories/stories-img3-desk.png"
                media="(min-width: 1440px)"
                width="87"
                height="87" />
              <source
                srcset="./img/stories/stories-img3-mob.png"
                width="54"
                height="54" />
              <img
                class="stories-img"
                src="./img/stories/stories-img3-mob.png"
                alt="Gear"
                width="54"
                height="54"
            /></picture>
            <p class="stories-slide-text">
              “Someone taught me three Spanish words I’ll never forget — in a
              monastery hallway.”
            </p>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="stories-dot active"></div>
        <div class="stories-dot"></div>
        <div class="stories-dot"></div>
      </div>
    </div>
  </div>
</section>
